#root{
    /* width: 1140px; */
    margin: 0 auto;
}
.hello{
    float: right;
    margin: 0 0 0 20px;
}
.link{
    padding: 20px 20px;
}
.linkActive{
    background: #28a745;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}
.link button{
    background: rgba(0,0,0,0);
}
.title{
    padding: 30px 0;
    /* font-size: 20px; */
    max-width: 1140px;
    margin: 0 auto;
}
#myTab{
    position: relative;
}
.addBtn{
    position: absolute;
    top: 10px;
    right: 10px;
}
.repaireBtn{
    max-width: 47px;
    min-width: 50px;
}
.my_tbody_pub td{
    height: 80px;
    overflow: hidden;
}
.my_tbody_pub td{
    height: 80px;
    overflow: hidden;
}
.my_tbody_pro td:nth-child(1){
    width: 15%;
}
.my_tbody_pro td:nth-child(2){
    width: 15%;
}
.my_tbody_pro td:nth-child(3){
    width: 15%;
}
.my_tbody_pro td:nth-child(4){
    width: 15%;
}
.my_tbody_pro td:nth-child(5){
    width: 6%;
}
.my_tbody_pro td:nth-child(6){
    width: 6%;
}


.message_file input{
    display:  flex;
    border: 1px solid #e5e9ed;
    box-shadow: none;
    width: 100%;
}
.edit_id_pro{
    float: right;
}

/*图片上传*/
/* 配合样式可以做出上传按钮和示例效果 */
.ant-upload-select-picture-card i {
    font-size: 28px;
    color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    font-size: 12px;
    color: #666;
}

.upload-example {
    position: relative;
    display: inline-block;
    height: 96px;
    width: 96px;
    padding: 8px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    vertical-align: top;
}

.upload-example img {
    height: 78px;
    width: 78px;
}

.upload-example:before {
    position: absolute;
    bottom: 8px;
    left: 8px;
    content: ' ';
    width: 78px;
    height: 24px;
    background-color: #808080;
    opacity: .8;
}

.upload-example span {
    position: absolute;
    bottom: 8px;
    left: 8px;
    width: 78px;
    height: 24px;
    color: #fff;
    line-height: 24px;
    text-align: center;
}
/*图片上传样式结束*/
.ant-upload-list-item-thumbnail img{
    width: 50px;
    height: 50px;
}
/*project*/
.proImageBox{
    width: 200px;
    height: 100px;
}
.example {
    text-align: center;
    border-radius: 4px;
    margin: -9px 24px;
    position:  absolute;
    display: block;
}
.message{
    color: #f00;
    float: right;
    /* margin: 0 0 70px 0; */
    /* text-align:  right; */
}

/*---------------ant-design------------*/
.login-form-forgot{
    float: right;
}
.stair1Title{
    font-size: 23px;
    font-weight: 500;
    /* background: #d3d2d2; */
    padding: 5px;
    margin: 0 0 23px 0;
}
.header{
    font-size: 20px;
    font-weight: 500;
    margin: 40px 0;
}
.fiters{
    /* float: right; */
    /* margin: 28px 0; */
}
.empty{
    margin: 0 0 0 20px;
}
.seach_box{
    margin: 20px 0 60px 0;
    text-align: right;
    justify-content: space-between;
    display:  flex;
}

.seach_container{
    /* margin: 0 0 30px 0; */
    max-width: 200px;
    /* text-align: right; */
    /* display:  flex; */
    /* display: inline-block; */
}
.newOrder{
     margin: 20px 0;
     text-align:  right;
}
.OrderItem{
    display: flex;
    font-size: 17px;
    justify-content: space-between;
    margin: 20px 0;
}
.total{
    float: left;
    font-size: 20px;
    position:  relative;
    top: -61px;
}
.myTable tbody{
    /*height: 460px;*/
}
.userInput{
    display: inline-block;
    margin: 0 0 0 20px;
}
.inputBox{
    display: flex;
    justify-content: space-between;
    margin: 26px;
    /*font-size: 20px;*/
}
.inputBoxSpan{
    line-height: 33px;
    /* position:  relative; */
    /* top: 5px; */
}
.usermessage{
    color: #f00;
}
.newUserMessage{
    color: #f00;
    /* float: right; */
    /* margin: 0 0 70px 0; */
    text-align:  right;
    padding: 0 27px 0 0;
}
.storeModalInput{
    display: flex;
    justify-content: space-between;
    margin:  20px 0;
}
.storeModalInput > span{
    width: 100px;
    line-height: 34px;
}